*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.card{
   width: 400px;
   border-radius: 10px;
   padding: 10px;
   margin: 10px;
}
#state-name, #city-name, #landmark-name{
    font-size: 16px;
    font-weight: bold;
}